.postWrite {
  width:800px;
  border:5px solid silver;
  border-radius : 20px;
  padding:15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postWrite .field{
  width:100%; 
  display: flex;
  margin:5px 0;
  display: flex;
  justify-content: space-between;
  border:1px solid black
}
.postWrite .field label{
  flex:1;
  font-weight: bold;
  margin:5px 0;
}
.postWrite .field textarea{
  flex:4; 
  border-radius: 10px;
}
.postWrite .field input[type=file]{
  flex:4; 
  border-radius: 10px;
  border:1px solid black;
}
.postWrite .field img{
  flex:1; 
  border-radius: 10px;
  border:1px solid blue;
}
